button,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: var(--text-height);
}

:root {
  --text-height: 125%;
}

.button {
  width: 170px;
  height: 48px;
}

body {
  line-height: var(--text-height);
}

/* header */
header {
  color: #ffffff;
  background: #74C69D;
}
header nav {
  background: #74C69D;
  padding-top: 35px !important;
  padding-bottom: 40px !important;
}
header nav .nav__img {
  width: 187px;
  height: 50px;
}
header nav .nav__link--wrapper {
  gap: 30px;
}
header .header__banner {
  padding-bottom: 82px;
}
header .header__banner .header__content {
  max-width: 416px;
}
header .header__banner .header__content h4 {
  font-weight: 700;
  font-size: 16px;
}
header .header__banner .header__content h1 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 40px;
}
header .header__banner .header__content p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
}
header .header__banner .header__content button {
  margin-top: 25px;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
  background: #FFFFFF;
}
header .header__banner .header__img {
  max-width: 644.28px;
  max-height: 378.13px;
}

.desc {
  padding-top: 60px;
}
.desc h5 {
  color: #74C69D;
  font-size: 16px;
}
.desc h1 {
  font-size: 40px;
}
.desc p {
  font-weight: 400;
  font-size: 20px;
}
.desc__link--wrapper {
  margin-top: 55px;
}
.desc__link--wrapper .google {
  width: 152.64px;
  height: 50px;
}
.desc__link--wrapper .microsoft {
  width: 210.85px;
  height: 45px;
}
.desc__link--wrapper .airbnb {
  width: 160.29px;
  height: 50px;
}
.desc__link--wrapper .facebook {
  width: 196.38px;
  height: 38px;
}
.desc__link--wrapper .spotify {
  width: 166.82px;
  height: 50px;
}
.desc button {
  margin-top: 55px;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
}

.content {
  margin-top: 73px;
  gap: 73px;
}
.content__card .content__content {
  max-width: 470px;
}
.content__card .content__content h2 {
  font-size: 40px;
}
.content__card .content__content p {
  font-size: 15px;
}
.content__card .content__content button {
  margin-top: 1rem;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
}

.talent {
  padding-top: 102px;
  padding-bottom: 54px;
}
.talent h5 {
  font-size: 16px;
}
.talent h2 {
  font-size: 40px;
}
.talent p {
  font-size: 20px;
}
.talent .talent__wrapper--card {
  margin-top: 45px;
}
.talent .talent__wrapper--card .talent__card {
  padding: 20px 25px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.talent .talent__wrapper--card .talent__card img {
  width: 175px;
  height: 175px;
  border: 1px solid black;
  border-radius: 50%;
}
.talent .talent__wrapper--card .talent__card h3 {
  margin-top: 19px;
  font-size: 24px;
}
.talent .talent__wrapper--card .talent__card p {
  margin-top: 17px;
  font-size: 15px;
  color: rgba(33, 37, 41, 0.75);
}
.talent button {
  margin-top: 45px !important;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
}

footer {
  padding: 50px 0;
  background-color: #74C69D;
}

.footer {
  font-size: 20px;
}
.footer .footer__wrapper--links {
  gap: 20px;
}

@media screen and (max-width: 992px) {
  header {
    padding-left: 6px;
    padding-right: 6px;
  }
  header nav {
    padding-top: 21px !important;
    padding-bottom: 21px !important;
  }
  header nav .nav__img {
    width: 129px;
    height: 38px;
  }
  header nav nav button span,
  header nav nav button {
    border: none;
    width: 24.06px;
    height: 19.69px;
  }
  header .header__banner {
    padding-bottom: 40px;
  }
  header .header__banner .header__content {
    order: 2;
  }
  header .header__banner .header__content h1 {
    font-size: 28px;
  }
  header .header__banner .header__img {
    order: 1;
  }
  .desc {
    padding-left: 20px;
    padding-right: 20px;
  }
  .desc h1 {
    font-size: 24px;
  }
  .desc__link--wrapper {
    gap: 40px;
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content__card {
    gap: 30px;
  }
  .content__card .content__img {
    order: 1;
    width: 100% !important;
  }
  .content__card .content__content {
    order: 2;
  }
  .content__card .content__content h2 {
    font-size: 24px;
  }
  .talent {
    padding: 40px 20px;
  }
  .talent h2 {
    font-size: 24px;
  }
  .talent .talent__wrapper--card {
    gap: 35px;
  }
  .talent .talent__wrapper--card .talent__card {
    width: 279px;
    padding: 20px 40px;
  }
  footer {
    padding: 30px 20px;
  }
  footer .footer {
    gap: 20px;
  }
}
body {
  line-height: 125%;
}

.portfolio__main {
  padding-top: 30px;
  padding-bottom: 100px;
}
.portfolio__main h5 {
  font-size: 16px;
  color: #74C69D;
}
.portfolio__main h2 {
  font-size: 40px;
}
.portfolio__main p {
  font-size: 20px;
  max-width: 411px;
}
.portfolio__main div {
  margin-top: 82px !important;
  gap: 55px;
}
.portfolio__main div img {
  padding: 0 !important;
  max-width: 570px !important;
  max-height: 334.54px !important;
}

@media screen and (max-width: 992px) {
  .portfolio__main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio__main h2 {
    font-size: 24px;
  }
}
body {
  line-height: 125%;
}

.service__main {
  padding-top: 35px;
  padding-bottom: 135px;
}
.service__main h5 {
  color: #74C69D;
  font-size: 16px;
}
.service__main h2 {
  font-size: 40px;
}
.service__main p {
  max-width: 411px;
  font-size: 20px;
}
.service__main .wrapper {
  gap: 105px;
  margin-top: 78px;
}
.service__main .wrapper .main__card {
  padding: 46px 30px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.service__main .wrapper .main__card h5 {
  font-size: 15px;
}
.service__main .wrapper .main__card h1 {
  font-size: 40px;
}
.service__main .wrapper .main__card h1 span {
  font-size: 15px;
  color: rgba(33, 37, 41, 0.5);
}
.service__main .wrapper .main__card p {
  margin-top: 10px;
  font-size: 15px;
  color: rgba(33, 37, 41, 0.5);
}
.service__main .wrapper .main__card div {
  margin-top: 52px;
  gap: 11px;
}
.service__main .wrapper .main__card div p {
  gap: 11px;
  font-size: 15px;
  color: #212529;
}
.service__main .wrapper .main__card div p i {
  color: #74C69D;
}
.service__main .wrapper .main__card button {
  margin-top: 45px;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .service__main {
    padding: 21px 20px 68px 20px;
  }
  .service__main h2 {
    font-size: 24px;
  }
  .service__main .wrapper {
    gap: 50px;
  }
}
body {
  line-height: 125%;
}

.contact__main {
  padding-top: 30px;
  padding-bottom: 93px;
}
.contact__main h2 {
  font-size: 40px;
}
.contact__main p {
  font-size: 20px;
  max-width: 411px;
}
.contact__main .contact__wrapper {
  margin-top: 67px;
  gap: 30px;
  padding: 0 !important;
}
.contact__main .contact__wrapper form {
  padding: 0 !important;
  width: 575px !important;
  gap: 21px !important;
}
.contact__main .contact__wrapper form div {
  gap: 16px;
}
.contact__main .contact__wrapper form div label {
  font-size: 20px;
}
.contact__main .contact__wrapper form div .input {
  height: 38px;
}
.contact__main .contact__wrapper form div .textarea {
  height: 75px;
}
.contact__main .contact__wrapper form button {
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
  height: 48px;
  font-size: 20px;
  width: 100%;
}
.contact__main .contact__wrapper iframe {
  padding: 0 !important;
}

@media screen and (max-width: 992px) {
  .contact__main {
    padding: 36px 20px 59px 20px;
  }
  .contact__main .contact__wrapper form {
    max-width: 100%;
    order: 2;
  }
  .contact__main .contact__wrapper form button {
    margin-top: 9px;
  }
  .contact__main .contact__wrapper iframe {
    max-width: 100%;
    height: 235px;
    order: 1;
  }
}

/*# sourceMappingURL=main.css.map */
